<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Group 8</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<h1>Group 8</h1>
	<div class="button-area">
		<button id="train-btn" type="button" class="btn" onclick="trainModels()">Train Models</button>
		<button id="test-btn" type="button" class="btn" onclick="testModels()" disabled>Test Models</button>
	</div>
	<div class="log-area">
		<h2>Log</h2>
		<pre id="log-pre"></pre>
	</div>
	<div class="input-area" hidden>
		<h2>Input Data</h2>
		<form id="input-form">
			<!-- Input fields for the features -->
		</form>
		<button id="predict-btn" type="button" class="btn" onclick=makePredictions() disabled>Make Predictions</button>
		<button id="randomize-btn" type="button" class="btn" onclick=randomizeFeatures()>I'm Feeling Lucky</button>
	</div>

	<div id="loading-indicator" hidden>
		<img src="{{ url_for('static', filename='img/spinner.webp') }}" alt="Loading...">
	</div>
</body>

</html>